<h2>Latest Posts...</h2>
<br/>
<%@posts.each do |post| %>

   <div class = "wrapper" style="border-bottom:2px solid silver;">
      <div style="font-size:18px"><br/>Post <%=post.id%><br/><br/>
      	<span style="margin-left:10px; font-style: italic"><%=post.content %></span></div><br/><br/>
	  <div>Created at: <span style="font-weight: bold"><%=post.created_at %></span> BY: <span style="font-weight: bold;"><%=post.name%></span></div><br/><div><a href="/details/<%=post.id%>"> Comments</a></div>
   </div><!-- wrapper --> 
	  
 <%end%>